button,
.ui-button {
  appearance: none;
  outline: none;
  border: none;
  padding: 8px 12px;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border-radius: 4px;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  line-height: 20px;
  font-weight: 600;
  @media (min-width: 769px) {
    width: fit-content;
  }
  white-space: nowrap;
  font-family: inherit;
  transition: background-color var(--transition-cubic-fast);

  &_large {
    padding: 10px 14px;
  }

  &_small {
    padding: 6px 8px;
  }

  &:not(&:disabled) {
    cursor: pointer;
  }
  &:hover:not(:disabled) {
    background-color: var(--primary-color-hover);
  }
  &:focus:not(:disabled) {
    background-color: var(--primary-color-focus);
  }
  &:active:not(:disabled) {
    background-color: var(--primary-color-active);
  }
  &_secondary {
    background-color: var(--secondary-color);

    &:hover:not(:disabled) {
      background-color: var(--secondary-color-hover);
    }
    &:focus:not(:disabled) {
      background-color: var(--secondary-color-focus);
    }
    &:active:not(:disabled) {
      background-color: var(--secondary-color-active);
    }
  }
  &_success {
    background-color: var(--success-color);

    &:hover:not(:disabled) {
      background-color: var(--success-color-hover);
    }
    &:focus:not(:disabled) {
      background-color: var(--success-color-focus);
    }
    &:active:not(:disabled) {
      background-color: var(--success-color-active);
    }
  }
  &_info {
    background-color: var(--info-color);

    &:hover:not(:disabled) {
      background-color: var(--info-color-hover);
    }
    &:focus:not(:disabled) {
      background-color: var(--info-color-focus);
    }
    &:active:not(:disabled) {
      background-color: var(--info-color-active);
    }
  }
  &_warning {
    background-color: var(--warning-color);

    &:hover:not(:disabled) {
      background-color: var(--warning-color-hover);
    }
    &:focus:not(:disabled) {
      background-color: var(--warning-color-focus);
    }
    &:active:not(:disabled) {
      background-color: var(--warning-color-active);
    }
  }
  &_danger {
    background-color: var(--danger-color);

    &:hover:not(:disabled) {
      background-color: var(--danger-color-hover);
    }
    &:focus:not(:disabled) {
      background-color: var(--danger-color-focus);
    }
    &:active:not(:disabled) {
      background-color: var(--danger-color-active);
    }
  }
  &_passive {
    background-color: var(--passive-color);

    &:hover:not(:disabled) {
      background-color: var(--passive-color-hover);
    }
    &:focus:not(:disabled) {
      background-color: var(--passive-color-focus);
    }
    &:active:not(:disabled) {
      background-color: var(--passive-color-active);
    }
  }

  &_rounded-outlined,
  &_outlined {
    padding: 7px 11px;
    border: 1px solid var(--primary-color);

    border-color: currentColor;

    &.ui-button_large {
      padding: 9px 13px;
    }

    &.ui-button_small {
      padding: 5px 7px;
    }
  }

  &_rounded-outlined,
  &_rounded-text,
  &_outlined,
  &_text {
    background-color: transparent;
    color: var(--primary-color);

    &:hover:not(:disabled) {
      background-color: var(--primary-color-hover-text);
    }
    &:focus:not(:disabled) {
      background-color: var(--primary-color-focus-text);
    }
    &:active:not(:disabled) {
      background-color: var(--primary-color-active-text);
    }

    &.ui-button {
      &_secondary {
        color: var(--secondary-color);

        &:hover:not(:disabled) {
          background-color: var(--secondary-color-hover-text);
        }
        &:focus:not(:disabled) {
          background-color: var(--secondary-color-focus-text);
        }
        &:active:not(:disabled) {
          background-color: var(--secondary-color-active-text);
        }
      }
      &_success {
        color: var(--success-color);

        &:hover:not(:disabled) {
          background-color: var(--success-color-hover-text);
        }
        &:focus:not(:disabled) {
          background-color: var(--success-color-focus-text);
        }
        &:active:not(:disabled) {
          background-color: var(--success-color-active-text);
        }
      }
      &_info {
        color: var(--info-color);

        &:hover:not(:disabled) {
          background-color: var(--info-color-hover-text);
        }
        &:focus:not(:disabled) {
          background-color: var(--info-color-focus-text);
        }
        &:active:not(:disabled) {
          background-color: var(--info-color-active-text);
        }
      }
      &_warning {
        color: var(--warning-color);

        &:hover:not(:disabled) {
          background-color: var(--warning-color-hover-text);
        }
        &:focus:not(:disabled) {
          background-color: var(--warning-color-focus-text);
        }
        &:active:not(:disabled) {
          background-color: var(--warning-color-active-text);
        }
      }
      &_danger {
        color: var(--danger-color);

        &:hover:not(:disabled) {
          background-color: var(--danger-color-hover-text);
        }
        &:focus:not(:disabled) {
          background-color: var(--danger-color-focus-text);
        }
        &:active:not(:disabled) {
          background-color: var(--danger-color-active-text);
        }
      }
      &_passive {
        color: var(--passive-color);

        &:hover:not(:disabled) {
          background-color: var(--passive-color-hover-text);
        }
        &:focus:not(:disabled) {
          background-color: var(--passive-color-focus-text);
        }
        &:active:not(:disabled) {
          background-color: var(--passive-color-active-text);
        }
      }
    }
  }

  &_rounded-text,
  &_rounded-outlined,
  &_rounded {
    border-radius: 18px;
  }

  &:disabled {
    filter: brightness(0.75) grayscale(0.25);
    cursor: not-allowed;
  }
}

.ui-button-async {
  position: relative;

  &__spinner {
    opacity: 0;
    margin-block: -8px;
    margin-inline: -20px -12px;
    transition: var(--transition-cubic-fast);
  }

  &::before {
    content: ' ';
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    mix-blend-mode: difference;
    border-radius: inherit;
    transition: var(--transition-default);
    opacity: 0;
    clip-path: none;
  }

  &.ui-button_outlined {
    &::before {
      border-radius: 3px;
    }
  }

  &.ui-button_outlined,
  &.ui-button_rounded-outlined {
    &::before {
      left: 1px;
      top: 1px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }
  }

  &_progress {
    filter: none;
    .ui-button-async__spinner {
      opacity: 1;
      margin-inline: -4px -4px;
    }
    cursor: progress;
    &:disabled {
      filter: none;
    }

    &::before {
      opacity: 1;
      clip-path: polygon(0 0, 0 100%, var(--ui-button-async-progress, 0) 100%, var(--ui-button-async-progress, 0) 0);
    }
  }
}