@import 'settings';

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --background-color: var(--surface-ground);
  background-color: var(--background-color);
  color: var(--text-color);
}

html[class^='prevent-scrolling'], html[class*=' prevent-scrolling'] {
  scroll-behavior: auto;
  overflow: hidden;
}

html,
body {
  min-height: var(--fvh);
}

html, body {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

progress {
  width: 200px;
  margin-inline: calc(50% - 100px);
  margin-top: calc(33%);
}

.app-main, .app-header {
  padding-inline: max(24px, 50vw - var(--app-default-max-width-half));
}

.app-main {
  min-height: var(--fvh);
  padding-block: calc(24px + var(--header-height)) 24px;
}