:root {
  --surface-a: #fff;
  --surface-b: #fafafa;
  --surface-c: #0000000a;
  --surface-d: #0000001f;
  --surface-e: #fff;
  --surface-f: #fff;
  --text-color: #000000de;
  --text-color-secondary: #0009;
  --primary-color: #673AB7;
  --primary-color-hover: #673AB7eb;
  --primary-color-active: #673AB7ad;
  --primary-color-focus: #673AB7c2;
  --primary-color-hover-text: #673AB70a;
  --primary-color-active-text: #673AB729;
  --primary-color-focus-text: #673AB71f;
  --primary-color-text: #fff;
  --secondary-color: #444444;
  --secondary-color-hover: #444444eb;
  --secondary-color-active: #444444ad;
  --secondary-color-focus: #444444c2;
  --secondary-color-hover-text: #4444440a;
  --secondary-color-active-text: #44444429;
  --secondary-color-focus-text: #4444441f;
  --success-color: #689F38;
  --success-color-hover: #689F38eb;
  --success-color-active: #689F38ad;
  --success-color-focus: #689F38c2;
  --success-color-hover-text: #689F380a;
  --success-color-active-text: #689F3829;
  --success-color-focus-text: #689F381f;
  --info-color: #2196F3;
  --info-color-hover: #2196F3eb;
  --info-color-active: #2196F3ad;
  --info-color-focus: #2196F3c2;
  --info-color-hover-text: #2196F30a;
  --info-color-active-text: #2196F329;
  --info-color-focus-text: #2196F31f;
  --warning-color: #FBC02D;
  --warning-color-hover: #FBC02Deb;
  --warning-color-active: #FBC02Dad;
  --warning-color-focus: #FBC02Dc2;
  --warning-color-hover-text: #FBC02D0a;
  --warning-color-active-text: #FBC02D29;
  --warning-color-focus-text: #FBC02D1f;
  --danger-color: #D32F2F;
  --danger-color-hover: #D32F2Feb;
  --danger-color-active: #D32F2Fad;
  --danger-color-focus: #D32F2Fc2;
  --danger-color-hover-text: #D32F2F0a;
  --danger-color-active-text: #D32F2F29;
  --danger-color-focus-text: #D32F2F1f;
  --passive-color: #787878;
  --passive-color-hover: #787878eb;
  --passive-color-active: #787878ad;
  --passive-color-focus: #787878c2;
  --passive-color-hover-text: #7878780a;
  --passive-color-active-text: #78787829;
  --passive-color-focus-text: #7878781f;
  --surface-0: #fff;
  --surface-50: #FAFAFA;
  --surface-100: #F5F5F5;
  --surface-200: #eee;
  --surface-300: #E0E0E0;
  --surface-400: #BDBDBD;
  --surface-500: #9E9E9E;
  --surface-600: #757575;
  --surface-700: #616161;
  --surface-800: #424242;
  --surface-900: #212121;
  --gray-50: #FAFAFA;
  --gray-100: #F5F5F5;
  --gray-200: #eee;
  --gray-300: #E0E0E0;
  --gray-400: #BDBDBD;
  --gray-500: #9E9E9E;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;
  --content-padding: 1rem;
  --inline-spacing: 0.5rem;
  --border-radius: 4px;
  --surface-ground: #fafafa;
  --surface-section: #fff;
  --surface-card: #fff;
  --surface-overlay: #fff;
  --surface-overlay-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  --surface-border: #0000001f;
  --surface-border-a: #00000061;
  --surface-border-a-static: #979797;
  --surface-hover: #0000000a;
  --error: #b00020;
  --error-hover: #b0002099;
  --focus-ring: none;
  --maskbg: #00000052;
}